body, html{
background-color: #d3d3d3;
height: 100%;
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: center;


}
header{
    display: flex;
    flex-wrap: wrap;
    height: 5%;
    width: 100%;
    justify-content: left;
    
   
    
}
.hText{
    text-decoration: none;
    color: #00231C;
    font-size: larger;
    margin-right: .5%;
    height: 50%;
    
}
.hText:hover{
    background-color: #001f3f;
    color: #d3d3d3;
    
}
#headerLogo{
    height: 100%;
    width: 20%;
}

hero-image>img{
    margin-top: 10%;
}
#action{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 40%;
    height: 5%;
    background-color: #20458e;
    color: #d3d3d3;
    border: #634e99, .5rem, ridge;
    margin: 2%;
    /* text-align: center; */
    margin-left: 15%;
    margin-right: 15%;
    
}
#action>text{
    justify-self: center;
}

service-image{
    margin-top: 2%;
    margin-left: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    
}
service-image>a>img{
    width: 85%;
    margin-bottom: 15%;
    
}

#currentCalendar{
    width:75%;
    margin-bottom: 10%;
   
}
td{
    border: #d3d3d3 1pt solid;
    width:10%;
    background-color: #001f3f;
    color:#d3d3d3
}

tr{
    text-align: center;
}

staff-info{
    margin-top: 5%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
}
person-info{
    width: 45%;
    text-align: center;
    margin: 2%;
    margin-bottom: 5%;

}
person-info>img{
    width: 250px;
    height: 150px;
}