body,html{
background-color: #d3d3d3;
height: 100%;
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: center;

}
header{
    display: flex;
    flex-wrap: wrap;
    height: 10%;
    width: 100%;
    justify-content: left;
    /* margin-bottom: 2% */
    
}
#headerLogo{
    height: 100%;
    width: 20%;
}

#action{
    
}